<title>My Demo App</title>
  <h1>Comparing Shift Results</h1>
    Enter the string whose characters you wanted to be shifted forward to the first text area, and how many times you want them to be shifted to the second.
    Do the same for the string whose characters you wanted to be shifted backwards for the third and fourth text areas
    Enter the integers separated by a new line, note that each line corresponds to the index the character's at.
    The comparison returned {{result}}

  <form action="compute" method="post">
        <textarea name="string1" rows="10" cols="30"></textarea>
        <textarea name="integer1" rows="10" cols="30"></textarea>
        <textarea name="string2" rows="10" cols="30"></textarea>
        <textarea name="integer2" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>