<title>My Demo App</title>
  <h1>Comparing Shift Results</h1>
    <div>Enter the string whose characters you wanted to be shifted forward to the first text area, and how many times you want them to be shifted to the second.</div>
    <div>Do the same for the string whose characters you wanted to be shifted backwards for the third and fourth text areas<div>
    <div>Enter the integers separated by a new line, note that each line corresponds to the index the character's at.<div>
    <div>The output will be displayed on the line below after clicking "Submit".<div>
    <br>
    <div>The comparison returned {{result}}<div>
<form action="shiftcomparison" method="post">
    <table>
        <tr>
            <td>
                <label for="string1">String to shift forward</label><br>
                <textarea id="string1" name="string1" rows="10" cols="30"></textarea>
            </td>
            <td>
                <label for="integer1">Forward Shifting Indexes</label><br>
                <textarea id="integer1" name="integer1" rows="10" cols="30"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <label for="string2">String to shift backwards</label><br>
                <textarea id="string2" name="string2" rows="10" cols="30"></textarea>
            </td>
            <td>
                <label for="integer2">Backwards Shift Indexes</label><br>
                <textarea id="integer2" name="integer2" rows="10" cols="30"></textarea>
            </td>
        </tr>
    </table>
    <br>
    <input type="submit">
</form>