<title>My Demo App</title>
  <h1>Comparing Shift Results</h1>
    Enter the string whose characters you wanted to be shifted forward to the first text area, and how many times you want them to be shifted to the second.
    Do the same for the string whose characters you wanted to be shifted backwards for the third and fourth text areas
    Enter the integers separated by a new line, note that each line corresponds to the index the character's at.
    The comparison returned {{result}}

  <form action="shiftcomparison" method="post">
      <label for="string1">String to shift forward</label><br>
      <textarea id="string1" name="string1" rows="10" cols="30"></textarea><br>
      
      <label for="integer1">Forward Shift Indexes</label><br>
      <textarea id="integer1" name="integer1" rows="10" cols="30"></textarea><br>
      
      <label for="string2">String to shift backwards</label><br>
      <textarea id="string2" name="string2" rows="10" cols="30"></textarea><br>
      
      <label for="integer2">Backwards Shift Indexes</label><br>
      <textarea id="integer2" name="integer2" rows="10" cols="30"></textarea><br>
      
      <br>
      <input type="submit">
  </form>